.card__image {
  width: 270px;
  height: 151px;
}

.card__element {
  display: flex;
  justify-content: space-between;
  min-height: 44px;
  margin: 10px 0 0;
}

.card__title {
  max-width: 220px;
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.card__buttons {
  margin: -2px 0 0;
}

.card__button {
  height: 24px;
  width: 24px;
  padding: 0;
  border: none;
  border-radius: 36px;
  transition: opacity .2s linear;
  background: #f9f9f9 ;
}

.card__button:hover {
  opacity: .6;
  cursor: pointer;
}

.card__button_active {
  background: url(../../images/icon__favorite-active.svg) center no-repeat;
}

.card__button_inactive {
  background: url(../../images/icon__favorite-inactive.svg) center no-repeat;
}

.card__button_delete {
  background: none;
}

.card__button_delete:hover {
  background: #f9f9f9 url(../../images/icon__delete-favorite.svg) center no-repeat;
}

.card__duration {
  color: #a0a0a0;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.31px;
  margin: 1px 0 14.5px;
  padding-top: 7px;
  border-top: 1px solid #e8e8e8;
}

@media (max-width: 865px) {
  .card__image {
    width: 339px;
    height: 190px;
  }

  .card__title {
    max-width: 290px;
  }
}

@media (max-width: 600px) {
  .card__title {
    font-size: 12px;
    line-height: 17px;
  }

  .card__image {
    width: 300px;
    height: 168px;
  }

  .card__element {
    margin: 11px 0 0;
  }
}