.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
  position: relative;
  z-index: 1;
}

.header_theme_blue {
  background-color: #073042;
}

.header_theme_white {
  background-color: #fff;
}

@media (max-width: 1279px) {
  .header {
    padding: 15px 30px;
  }
}

@media (max-width: 747px) {
  .header {
    padding: 15px 14px;
  }
}
