.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
}

.header_theme_blue {
  background-color: #073042;
}

.header_theme_white {
  background-color: #fff;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__link {
  display: flex;
}

@media (max-width: 865px) {
  .header {
    padding: 18px 30px;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 18px 14px;
  }
}
