.form-entrance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 396px;
  color: #000;
  position: relative;
}

.form-entrance__title {
  margin: 37px 0 35px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.form-entrance__btn-submit {
  border: none;
  height: 45px; 
  width: 100%; 
  background-color: #3456F3;  
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-top: 134px; 
  padding: 0;
}

.form-entrance__btn-submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.form-entrance__btn-submit_disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.form-entrance__response-text {
  text-align: center;
  display: block;
  color: #FF004C;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.31px; 
  width: 100%;
  position: absolute;
  bottom: 100px; 
}

.form-entrance__text-under-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
  margin: 16px 0 0;
}

.form-entrance__link {
  color: #3456F3;
  text-decoration: none;
  margin-left: 6px;
}

.form-entrance__link:hover {
  opacity: 0.7;
}

@media (max-width: 865px) {
  .form-entrance {
    padding: 232px 0;
  }
}

@media (max-width: 600px) {
  .form-entrance {
    padding: 56px 0 30px;
    width: 260px;
    align-items: center;
  }

  .form-entrance__title {
    margin: 47px 0 75px;    
  }

  .form-entrance__btn-submit {    
    font-size: 12px;
    line-height: 15px;
    margin-top: 46px;
  }

  .form-entrance__text-under-btn {    
    font-size: 12px;
    line-height: 14.52px;
  }
}
