@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

body {
  min-width: 320px;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* сглаживание шрифта */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  /* выше подгонка размера текста при изменении масштаба страницы */
  text-rendering: optimizeLegibility;
  /* выше определяет нужно ли применять к тексту кёрнинг и лигатуры */
}
